<nb-layout id="main-wrapper">

    <nb-layout-header fixed>
        <div class="container-fluid row" id="">
          <div class="d-flex col justify-content-start m-3">
            <button class="btn btn-primary mr-3" (click)="toggleSidebar()"> <i class="icon nb-menu"></i> </button>
            <button class="btn btn-success" (click)="openAddTaskModal()"> <i class="icon nb-compose"></i> </button>
          </div>
            <div class="d-flex col justify-content-center align-items-center lead">
                <p class="h4 text-secondary"> Task Management </p>
            </div>
            <div class="d-flex col justify-content-end m-3">
              <button class="btn btn-info mr-3" (click)="refreshTasks()"> <i class="icon nb-loop"></i> </button>
              <button class="btn btn-danger" (click)="logout()">Log out</button>
            </div>
        </div>

    </nb-layout-header>

  <nb-sidebar class="mt-4 bg-transparent" containerFixed tag="todo-sidebar">
      <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="p-0">

      <router-outlet></router-outlet>


  </nb-layout-column>

</nb-layout>
