<nb-layout>

  <nb-layout-header>
    <div class="d-flex col justify-content-center align-items-center lead">
        <p class="h4 text-secondary"> Admin Dashboard </p>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container">
      <div class="d-flex flex-column align-items-center">
        <div class="jumbotron">
          <div class="lead"> Administrator dashboard is currrently under construction. </div>
        </div>
        <a>
          <button class="btn btn-primary" routerLink="/">Go Home</button>
        </a>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer></nb-layout-footer>

</nb-layout>
